<!-- ======= Footer ======= -->
<footer id="footer">

  <div class="footer-top">

    <div class="container">

      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h3>Subscribe</h3>
          <p>We will be asking our visitors to subscribe to the newsletter or whatever, over here</p>
        </div>
      </div>
      <!-- Subscription Form -->
      <div class="row footer-newsletter justify-content-center">
        <div class="col-lg-6 subscription-form">
          <form action="/subscribe" method="POST" target='votar' onsubmit="subscriptionFormSubmit()">
            <input type="email" required="true" name="email" placeholder="Enter your Email"><button type="submit"
              value="Subscribe" class="btn btn-success subscribe-button">Subscribe</button>
          </form>
        </div>
        <div class='success-icon-subscription'>
          <i class="far fa-check-circle fa-2x"></i>
        </div>
      </div>

      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>

    </div>
  </div>

  <div class="container footer-bottom clearfix">
    <div class="copyright">
      &copy; Copyright <strong><span>Ruvaan 2022</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="" target="votar">WebD Team</a>
    </div>
    <div class="credits">
      Distributed by <a href="" target="votar">WebD Team</a>
    </div>
  </div>
</footer><!-- End Footer -->