<!-- ======= Header/navbar ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <nav id="navbar" class="navbar">
            <ul>

                <li><a class="" href="/"><i class="home-icon fas fa-home"></i></a></li>
                <li><a class="nav-link scrollto" href="/events">Events</a></li>
                <li><a class="nav-link scrollto" href="/faq">Contact & FAQs</a></li>
                <li><a class="nav-link scrollto" href="/sponsors">Sponsors</a></li>
                <li><a class="nav-link scrollto" href="team">Team</a></li>
                <!-- <li><a class="nav-link scrollto navbar-right" href="#contact">icon</a></li> -->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <div class="logo">
            <a href="#" class="social-icons"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fas fa-envelope-square fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-youtube fa-2x"></i></a>
        </div>


    </div>
</header>
<!-- End Header -->