<!-- ======= Header/navbar ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <a class="" href="/"><img src="media/logo.png" alt="Ruvaan" style="background-image: linear-gradient(315deg, #d9e4f5 0%, #f5e3e6 74%);fill: black;"></a>
                    <!-- <i class="fas fa-home"></i> -->
                </li>
                <li><a class="nav-link scrollto" href="/events">Events</a></li>
                <li><a class="nav-link scrollto" href="/faq">Contact & FAQs</a></li>
                <li><a class="nav-link scrollto" href="/sponsors">Sponsors</a></li>
                <li><a class="nav-link scrollto" href="team">Team</a></li>
                <li><a class="nav-link scrollto" href="workshop">Workshop</a></li>
                <li><a class="nav-link scrollto" href="merchandise">Merchandise</a></li>
                <!-- <li><a class="nav-link scrollto navbar-right" href="#contact">icon</a></li> -->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
        <!-- .navbar -->

        <div class="social-buttons">
            <a href="#"><button class="btn btn-dark">Register</button></a>
            <!-- <a href="#" class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="social-buttons__button social-button social-button--linkedin" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="#" class="social-buttons__button social-button social-button--github" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="#" class="social-buttons__button social-button social-button--codepen" aria-label="CodePen">
                <i class="fab fa-codepen"></i>
            </a> -->
        </div>




        <!-- <div class="logo">
      <a href="#" class="social-icons"
        ><i class="fab fa-facebook-f fa-2x"></i
      ></a>
      <a href="#" class="social-icons"
        ><i class="fab fa-instagram fa-2x"></i
      ></a>
      <a href="#" class="social-icons"
        ><i class="fas fa-envelope-square fa-2x"></i
      ></a>
      <a href="#" class="social-icons"><i class="fab fa-youtube fa-2x"></i></a>
    </div> -->
    </div>
</header>
<!-- End Header -->