<!-- ======= Header/navbar ======= -->
<header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

        <nav id="navbar" class="navbar">
            <ul>

                <li><a class="" href="/"><i class="home-icon fas fa-home"></i></a></li>
                <li hidden><a class="nav-link scrollto" href="/"><i class="home-icon fas fa-home"></i></a></li>
                <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li> -->
                <li class="dropdown"><a href="#"><span>About</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/kongthong">Kongthong</a></li>
                        <li><a href="/whisteling">Whisteling Tradition</a></li>
                        <li><a href="/history">History</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Location</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/geography">Geography</a></li>
                        <li><a href="/political">Political Landscape</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>People and Culture</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <li><a href="/demography">Demography</a></li>
                        <li><a href="/religion">Religion</a></li>
                    </ul>
                </li>
                <li><a class="nav-link scrollto" href="">Contact</a></li>
                <li><a class="nav-link scrollto" href="/sponsors">Sponsors</a></li>
                <!-- <li><a class="nav-link scrollto navbar-right" href="#contact">icon</a></li> -->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

        <div class="logo">
            <a href="index.html" class="social-icons"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="index.html" class="social-icons"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="index.html" class="social-icons"><i class="fas fa-envelope-square fa-2x"></i></a>
            <a href="index.html" class="social-icons"><i class="fab fa-youtube fa-2x"></i></a>
        </div>


    </div>
</header><!-- End Header -->