<% layout('layouts/boilerplate')%>
<link href="css/events.css" rel="stylesheet">
<div class="container">
    <div class="row mt-5">
      <div class="col mt-5 mx-auto divOne">
        <figure class="stack mt-5 mx-auto">
          <div class="card one top">
            <button type="button" class="btn btn-secondary my-auto mx-auto expandBtn">Expand</button>
            <button class="modalBtn btn btn-outline-info my-auto mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button>
          </div>
          <div class="card two middle">
            <button type="button" class="btn btn-secondary my-auto mx-auto expandBtn">Expand</button>
            <button class="modalBtn btn btn-outline-info my-auto mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button>
          </div>
          <div class="card three bottom">
            <button type="button" class="btn btn-secondary my-auto mx-auto expandBtn">Expand</button>
            <button class="modalBtn btn btn-outline-info my-auto mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button>
          </div>
        </figure>
      </div>
      <div class="col mt-5 mx-auto divTwo">
        <figure class="stack mt-5 mx-auto">
          <div class="card one top">
            <button type="button" class="btn btn-secondary my-auto mx-auto expandBtn">Expand</button>
            <button class="modalBtn btn btn-outline-info my-auto mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button>
          </div>
          <div class="card two middle">
            <button type="button" class="btn btn-secondary my-auto mx-auto expandBtn">Expand</button>
            <button class="modalBtn btn btn-outline-info my-auto mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button>
          </div>
          <div class="card three bottom">
            <button type="button" class="btn btn-secondary my-auto mx-auto expandBtn">Expand</button>
            <button class="modalBtn btn btn-outline-info my-auto mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button>
          </div>
        </figure>
      </div>
      <div class="col mt-5 mx-auto divThree">
        <figure class="stack mt-5 mx-auto">
          <div class="card one top">
            <button type="button" class="btn btn-secondary my-auto mx-auto expandBtn">Expand</button>
            <button class="modalBtn btn btn-outline-info my-auto mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button>
          </div>
          <div class="card two middle">
            <button type="button" class="btn btn-secondary my-auto mx-auto expandBtn">Expand</button>
            <button class="modalBtn btn btn-outline-info my-auto mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button>
          </div>
          <div class="card three bottom">
            <button type="button" class="btn btn-secondary my-auto mx-auto expandBtn">Expand</button>
            <button class="modalBtn btn btn-outline-info my-auto mx-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">Details</button>
          </div>
        </figure>
      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close closeBtn" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. In eum nostrum nesciunt illo aperiam praesentium
          possimus enim! Iste incidunt dicta ex, aperiam blanditiis atque, quae eligendi enim, voluptates facilis natus.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quis voluptates deleniti excepturi
          laboriosam cupiditate. Accusamus modi quis, possimus, quisquam iure temporibus nisi autem harum necessitatibus
          assumenda tempore dolore facere.
          Vitae eligendi aut, non minus quasi provident expedita facilis amet ad mollitia hic eos! Facere eaque labore
          soluta sed! Id consequuntur deleniti dignissimos rerum officia vel voluptatibus sed at voluptatum!
          Est, deleniti modi culpa provident aperiam itaque earum facilis suscipit natus explicabo autem voluptatibus
          facere nihil adipisci harum in iusto rerum error enim perspiciatis, nulla exercitationem consequatur
          aspernatur quia? Earum.
          Nam deleniti, laborum, enim iste commodi blanditiis tenetur sit cumque molestiae accusantium est veritatis
          error! Numquam deserunt dolor magnam doloribus, eligendi repellat rem ut, obcaecati nostrum sequi natus
          aperiam asperiores!
          Accusantium, praesentium molestias? Cumque eveniet, corporis nam alias commodi qui rem officiis culpa porro
          numquam voluptas, similique odit voluptatem repudiandae fugiat, adipisci tempore! Explicabo eaque deleniti
          sint, dicta fugit quod?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary closeBtn" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<script type="text/javascript" src="js/cardstack.js"></script>
