<% layout('layouts/boilerplate')%>
    <div class="container-fluid events-container">
        <div class="container my-5 mx-auto">
            <div class="row justify-content-lg-center my-1">
                <div class="col-12 col-lg-6 mb-2 mx-md-auto">
                    <div class="circular-menu">
                        <div class="circle">
                            <div class="center-img"></div>
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                            <img src="https://wallpaperaccess.com/full/2185816.jpg" alt="" class="eventImg">
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 mb-2 mx-auto my-3 my-md-5 eventInfo">
                    <div class="card mx-auto" style="width: 75%;">
                        <div class="card-body">
                            <h4 class="card-title">Card title will load here from event.js</h4>
                            <p class="card-text mt-3"> Card text will load here from event.js </p>
                        </div>
                        <div class="card-body mx-auto">
                            <% if(typeof user==="undefined"){ %> 
                                <input class="eventToRegister" name="eventToRegister" value="none" hidden>
                                <input class="user" name="dummy" value="none" hidden>
                                <a href="/register"><button class="btn btn-outline-success register">Register</button></a>
                            <% }else{ %>
                                <form action="/registerEvent" method="POST">
                                    <input class="eventToRegister" name="eventToRegister" value="none" hidden>
                                    <button class="btn btn-outline-success register">Register</button>
                                </form>
                            <% } %>  
                        <!-- <a href="/register"><button class="btn btn-outline-success register">Register</button></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="js/events.js"></script>