<% layout('layouts/boilerplate')%>
  <div class="container-fluid events-container">
    <div class="container mt-1 mb-5 mx-auto">
      <div class="row justify-content-lg-center my-1">
        <div class="col-12 col-lg-6 mb-2 mx-md-auto">
          <div class="circular-menu">
            <div class="circle">
              <div class="center-img"></div>
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
              <img alt="" class="eventImg" />
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 mb-2 mx-auto my-3 my-md-5 eventInfo">
          <div class="card mx-auto" style="width: 75%">
            <div class="card-body eventCard">
              <h4 class="card-title">Card title</h4>
              <p class="card-text mt-3 event-content">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
                velit placeat, eos doloribus incidunt atque excepturi asperiores
                distinctio fugiat optio est dolorem quas quisquam doloremque.
                Veniam rerum id aut? Eius?
              </p>
            </div>
            <div class="card-body mx-auto">
              <a href="/register"><button class="btn btn-outline-success register">
                  Register
                </button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="js/events.js"></script>