<% layout('layouts/boilerplate')%>
  <div class="container my-5 mx-auto">
    <div class="row my-2 mx-auto">
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col mt-4 px-1">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-2 mx-auto">
      <div class="col my-4 px-1 mx-auto">
        <div class="card mx-auto text-white bg-dark" style="width: 18rem;">
          <img src="" class="card-img-top" alt="...">
          <div class="card-body">
            <h3 class="card-title mt-1">Title</h3>
            <div class="cardB">
              <button type="button" class="btn btn-outline-dark eventModal mt-2" data-bs-toggle="modal"
                data-bs-target="#exampleModal">
                Details
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Register</button>
        </div>
      </div>
    </div>
  </div>