<% layout('layouts/boilerplate')%>
    <link href="css/faq.css" rel="stylesheet">


    <div class="container-lg faq-block">
        <div class="faq-title">
            FREQUENTLY ASKED QUESTIONS
        </div>
        <div class="row py-5">

            <div class="col-md-6">
                <!-- Search Box -->
                <div class="faq-search-box-div">
                    <form action="#" class="faq-search mx-4">
                        <input type="text" class="search-box" id="search-box" placeholder="Type Here!">
                    </form>
                </div>
                <!-- Accordian -->
                <div class="accordion accordion-flush mx-4" id="accordionFlushExample">
                    <!-- This will be populated using JS -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="faq-svg-div">
                    <img src="media/FAQ.png" alt="" class="faq-svg">
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="js/faq.js"></script>
