<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="css/merchandise.css">

<div class="container" style="margin-top:150px;">
    <div class="row">
        <div class="col-md-3">
            <div class="card-sl">
                <div class="card-image">
                    <img
                        src="media/old-boot-over-white-260nw-85797763.jpg" class="img-container" />
                </div>

                <a class="card-action" href="#"><i class="fa fa-heart"></i></a>
                <div class="card-heading">
                    Slippers
                </div>
                <div class="card-text">
                    These Slippers are a full-size luxury slippers that were launched in 2018.
                </div>
                <div class="card-text">
                    $67,400
                </div>
                <a href="#" class="card-button"> Purchase</a>
            </div>
        </div>