<div>
    <form action="<% url%>" class="login" method="post">
        <div class="field">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="field">
            <input type="password" name="confirm_password" placeholder="Confirm password" required>
        </div>
        <div class="field btn">
            <div class="btn-layer"></div>
            <input type="submit" value="Change password">
        </div>
    </form>
</div>