<% layout('layouts/boilerplate')%>
    <div class="spon-container" >
        
        <div class="card-body text-center">
            <img class="card-img-top" src="media/Logo-Logo.svg" alt="Card image cap" style="width:18em;">
            <h5 class="card-title">HEAD SPONSOR</h5>
            </div>
    
        <div class="card-body text-center">
            <img class="card-img-top" src="media/Free_logo.svg" alt="Card image cap" style="width:18em;">
            <h5 class="card-title">ASSOCIATE SPONSOR</h5>
            </div>
        
        <div class="card-body text-center">
            <img class="card-img-top" src="media/Logo-Logo.svg" alt="Card image cap" style="width:18em;">
            <h5 class="card-title">TECHNICAL SPONSOR</h5>
            </div>
        
    </div>