<% layout('layouts/boilerplate')%>
    <div class="card-container" >
        
        <div class="card-body text-center">
            <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top" src="media/Logo-Logo.svg" alt="Card image cap" style="width:15em;"></a>
            <h5 class="card-title">HEAD SPONSOR</h5>
            </div>
    
        <div class="card-body text-center">
            <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top" src="media/Free_logo.svg" alt="Card image cap" style="width:15em;"></a>
            <h5 class="card-title">ASSOCIATE SPONSOR</h5>
            </div>
        
        <div class="card-body text-center">
            <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
                <img class="card-img-top" src="media/Logo-Logo.svg" alt="Card image cap" style="width:15em;"></a>
            <h5 class="card-title">TECHNICAL SPONSOR</h5>
            </div>
        
    </div>