<% layout('layouts/boilerplate')%>
<h1 style="text-align:center;">Our Team</h1>
<div class ="card-container">
    <div class="card-body text-center">
        <img class="card-img-top" src="media/user.jpg" alt="Card image cap" style="width:15em;">
        <h5 class="card-title">Pushkar Patel</h5>
        <div class="logo">
            <a href="#" class="social-icons"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fas fa-envelope-square fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-youtube fa-2x"></i></a>
        </div>
    </div>
    <div class="card-body text-center">
        <img class="card-img-top" src="media/user.jpg" alt="Card image cap" style="width:15em;">
        <h5 class="card-title">Vinayak Sachan</h5>
        <div class="logo">
            <a href="#" class="social-icons"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fas fa-envelope-square fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-youtube fa-2x"></i></a>
        </div>
    </div>
    <div class="card-body text-center">
        <img class="card-img-top" src="media/user.jpg" alt="Card image cap" style="width:15em;">
        <h5 class="card-title">Piyush</h5>
        <div class="logo">
            <a href="#" class="social-icons"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fas fa-envelope-square fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-youtube fa-2x"></i></a>
        </div>
    </div>
    <div class="card-body text-center">
        <img class="card-img-top" src="media/user.jpg" alt="Card image cap" style="width:15em;">
        <h5 class="card-title">Rishabh Maheshwari</h5>
        <div class="logo">
            <a href="#" class="social-icons"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fas fa-envelope-square fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-youtube fa-2x"></i></a>
        </div>
    </div>
    <div class="card-body text-center">
        <img class="card-img-top" src="media/user.jpg" alt="Card image cap" style="width:15em;">
        <h5 class="card-title">Yash</h5>
        <div class="logo">
            <a href="#" class="social-icons"><i class="fab fa-facebook-f fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-instagram fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fas fa-envelope-square fa-2x"></i></a>
            <a href="#" class="social-icons"><i class="fab fa-youtube fa-2x"></i></a>
        </div>
    </div>
</div>