<% layout('layouts/boilerplate')%>

<section
  class="page-title"
  id="page-title"
  style="background-image: url('media/workshop.jpg')"
>
  <div class="auto-container">
    <h1
      style="
        color: azure;
        font-size: 60px;
        font-weight: bold;
        margin-left: 40px;
      "
    >
      Workshops
    </h1>
  </div>
  <br />
</section>
<section class="news-section">
    <div class="auto-container">
      <div class="row" style="justify-content: center">
        <div
          class="col-sm-6"
          style="
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px 1px;
            width: 30rem;
            margin: 100px 50px;
          "
        >
          <img
            src="media/dummy-hacker.jpeg"
            alt=""
            style="
              width: 100%;
              object-fit: cover;
              margin-top: -60px;
              padding: 0px;
            "
          /><br /><br />
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-left: 10px;
            "
          >
            <h2 style="text-align: center; margin-bottom: 10px">WorkShop 1</h2>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
              "
            >
              <h4 class="responsiveFont">Start Date:&nbsp;&nbsp;</h4>
              <h5 class="responsiveFont" style="font-weight: normal">
                Jab hoga tb hoga, 00:00 AM
              </h5>
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
                text-align: start;
              "
            >
              <h4 class="responsiveFont">End Date:&nbsp;&nbsp;</h4>
              <h5 class="responsiveFont" style="font-weight: normal">
                jldi kya hai, 00:00 PM </h5>
            </div>
            <h4 class="responsiveFont" style="margin: 0px; padding: 0px">
              Venue:<span
                style="margin-left: 10px; font-size: 20px; font-weight: normal"
                >Pta Nhi</span
              >
            </h4>
            <h4 class="responsiveFont" style="margin: 0px; padding: 0px">
              Fees:<span
                style="margin-left: 10px; font-size: 20px; font-weight: normal"
                >₹ Taalis Laat</span
              >
            </h4>
            <br />
          </div>
          <div style="display: flex; justify-content: space-between">
            <a
              href="#"
              target="_blank"
              ><div class="btn-box">
                <button type="button" class="btn btn-lg btn-primary">
                  Know More
                </button>
              </div></a
            ><a href="#" target="_blank"
              ><div class="btn-box">
                <button type="button" class="btn btn-lg btn-primary">
                  Register Here
                </button>
              </div></a
            >
          </div>
          <br /><br />
        </div>
        <div
          class="col-sm-6"
          style="
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px 1px;
            width: 30rem;
            margin: 100px 50px;
          "
        >
          <img
            src="media/dummy-hacker.jpeg"
            alt=""
            style="
              width: 100%;
              object-fit: cover;
              margin-top: -60px;
              padding: 0px;
            "
          /><br /><br />
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-left: 10px;
            "
          >
            <h2 style="text-align: center; margin-bottom: 10px">WorkShop 1</h2>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
              "
            >
              <h4 class="responsiveFont">Start Date:&nbsp;&nbsp;</h4>
              <h5 class="responsiveFont" style="font-weight: normal">
                Jab hoga tb hoga, 00:00 AM
              </h5>
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
                text-align: start;
              "
            >
              <h4 class="responsiveFont">End Date:&nbsp;&nbsp;</h4>
              <h5 class="responsiveFont" style="font-weight: normal">
                jldi kya hai, 00:00 PM </h5>
            </div>
            <h4 class="responsiveFont" style="margin: 0px; padding: 0px">
              Venue:<span
                style="margin-left: 10px; font-size: 20px; font-weight: normal"
                >Pta Nhi</span
              >
            </h4>
            <h4 class="responsiveFont" style="margin: 0px; padding: 0px">
              Fees:<span
                style="margin-left: 10px; font-size: 20px; font-weight: normal"
                >₹ Taalis Laat</span
              >
            </h4>
            <br />
          </div>
          <div style="display: flex; justify-content: space-between">
            <a
              href="#"
              target="_blank"
              ><div class="btn-box">
                <button type="button" class="btn btn-lg btn-primary">
                  Know More
                </button>
              </div></a
            ><a href="#" target="_blank"
              ><div class="btn-box">
                <button type="button" class="btn btn-lg btn-primary">
                  Register Here
                </button>
              </div></a
            >
          </div>
          <br /><br />
        </div>
        <div
          class="col-sm-6"
          style="
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px 1px;
            width: 30rem;
            margin: 100px 50px;
          "
        >
          <img
            src="media/dummy-hacker.jpeg"
            alt=""
            style="
              width: 100%;
              object-fit: cover;
              margin-top: -60px;
              padding: 0px;
            "
          /><br /><br />
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-left: 10px;
            "
          >
            <h2 style="text-align: center; margin-bottom: 10px">WorkShop 1</h2>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
              "
            >
              <h4 class="responsiveFont">Start Date:&nbsp;&nbsp;</h4>
              <h5 class="responsiveFont" style="font-weight: normal">
                Jab hoga tb hoga, 00:00 AM
              </h5>
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
                text-align: start;
              "
            >
              <h4 class="responsiveFont">End Date:&nbsp;&nbsp;</h4>
              <h5 class="responsiveFont" style="font-weight: normal">
                jldi kya hai, 00:00 PM </h5>
            </div>
            <h4 class="responsiveFont" style="margin: 0px; padding: 0px">
              Venue:<span
                style="margin-left: 10px; font-size: 20px; font-weight: normal"
                >Pta Nhi</span
              >
            </h4>
            <h4 class="responsiveFont" style="margin: 0px; padding: 0px">
              Fees:<span
                style="margin-left: 10px; font-size: 20px; font-weight: normal"
                >₹ Taalis Laat</span
              >
            </h4>
            <br />
          </div>
          <div style="display: flex; justify-content: space-between">
            <a
              href="#"
              target="_blank"
              ><div class="btn-box">
                <button type="button" class="btn btn-lg btn-primary">
                  Know More
                </button>
              </div></a
            ><a href="#" target="_blank"
              ><div class="btn-box">
                <button type="button" class="btn btn-lg btn-primary">
                  Register Here
                </button>
              </div></a
            >
          </div>
          <br /><br />
        </div>
        <div
          class="col-sm-6"
          style="
            border-radius: 12px;
            box-shadow: rgba(0, 0, 0, 0.4) -1px 1px 1px 1px;
            width: 30rem;
            margin: 100px 50px;
          "
        >
          <img
            src="media/dummy-hacker.jpeg"
            alt=""
            style="
              width: 100%;
              object-fit: cover;
              margin-top: -60px;
              padding: 0px;
            "
          /><br /><br />
          <div
            style="
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              margin-left: 10px;
            "
          >
            <h2 style="text-align: center; margin-bottom: 10px">WorkShop 1</h2>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
              "
            >
              <h4 class="responsiveFont">Start Date:&nbsp;&nbsp;</h4>
              <h5 class="responsiveFont" style="font-weight: normal">
                Jab hoga tb hoga, 00:00 AM
              </h5>
            </div>
            <div
              style="
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
                text-align: start;
              "
            >
              <h4 class="responsiveFont">End Date:&nbsp;&nbsp;</h4>
              <h5 class="responsiveFont" style="font-weight: normal">
                jldi kya hai, 00:00 PM </h5>
            </div>
            <h4 class="responsiveFont" style="margin: 0px; padding: 0px">
              Venue:<span
                style="margin-left: 10px; font-size: 20px; font-weight: normal"
                >Pta Nhi</span
              >
            </h4>
            <h4 class="responsiveFont" style="margin: 0px; padding: 0px">
              Fees:<span
                style="margin-left: 10px; font-size: 20px; font-weight: normal"
                >₹ Taalis Laat</span
              >
            </h4>
            <br />
          </div>
          <div style="display: flex; justify-content: space-between">
            <a
              href="#"
              target="_blank"
              ><div class="btn-box">
                <button type="button" class="btn btn-lg btn-primary">
                  Know More
                </button>
              </div></a
            ><a href="#" target="_blank"
              ><div class="btn-box">
                <button type="button" class="btn btn-lg btn-primary">
                  Register Here
                </button>
              </div></a
            >
          </div>
          <br /><br />
        </div>
          <br /><br />
        </div>
      </div>
    </div>
  </section>

